html {
    position: relative;
    padding: 0px;
    margin: 0px;
    outline: 0px;
    border-width: 0px;
    height: 100%;
    width: 100%;
     
}

body {
    position: relative;
    padding: 0px;
    margin: 0px;
    outline: 0px;
    border-width: 0px;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    display: block;
    background-color: #fff;
    font-family: Verdana;
    font-size: 16px;
     overflow-x: hidden; 
    overflow-y: hidden;
    
}
.blockit {

vertical-align:middle;
position: absolute;
top: 50%;
height: 70px;
margin-left:auto;
margin-right:auto;
display:block;
width:400px;
margin-top: -5%;
  
user-select:none;-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;

}

body.full {
    position: relative;
    padding: 0px;
    margin: 0px;
    outline: 0px;
    border-width: 0px;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    display: block;
    overflow: hidden;
    background-color: #fff;
    font-family: Verdana;
    font-size: 16px;
}

.top {
    position: relative;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    min-width: 220px;
    text-align: center;
    padding: 20px;
}

    .top > h1 {
        position: relative;
        padding-top: 20px;
        padding-bottom: 20px;
        text-shadow: 0px 0px 10px #001155;
        color: #fff;
        font-size: 30px;
        font-weight: 700;
        margin: 0px;
    }

    .top > h2 {
        position: relative;
        padding-top: 10px;
        padding-bottom: 10px;
        color: #09f;
        font-size: 20px;
        font-weight: 700;
        margin: 0px;
        color: #00f;
        -webkit-animation-name: swinging;
        -webkit-animation-duration: 1s;
        -webkit-animation-timing-function: ease;
        -webkit-animation-iteration-count: infinite;
        animation-name: swinging;
        animation-duration: 1s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
    }

.container {
    position: relative;
    padding: 20px;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    min-width: 220px;
    text-align: center;
}

.shortcut {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 10px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
	box-shadow: #000 5px 5px 20px;
    background-color: #fff;
    border-style: none;
    border-radius: 8px;
    overflow: hidden;
    transition-property: transform;
    transition-duration: 0.05s;
    transition-timing-function: linear;
    transition-delay: 0s;
    transform: scale(1.0);
}

    .shortcut:hover, .shortcut:focus {
        transform: scale(1.1);
        z-index: 2;
	    box-shadow: #000 10px 10px 40px;
    }    

    .shortcut img {
        position: relative;
        height: 200px;
        width: 200px;
        margin: 0px;
        display: block;
    }

    .shortcut .label {
        position: absolute;
        bottom: 0px;
        height: 24px;
        width: 200px;
        padding: 0px;
        padding-top: 6px;
        padding-bottom: 0px;
        font-size: 15px;
        text-overflow: ellipsis;
        overflow: hidden;
        text-align: center;
        background-image: linear-gradient(rgba(62, 77, 77, 0.7), rgb(62, 77, 77), rgb(43, 54, 54), rgb(43, 54, 54), rgb(62, 77, 77));
        color: #fff;
        text-shadow: 0px 0px 2px #000;
    }


.bottom {
    position: relative;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    min-width: 220px;
    text-align: center;
    padding: 20px;
}

.smaller {
    position: relative;
    font-size: 12px;
}

div.prank {
    position: fixed;
    padding: 0px;
    margin: 0px;
    outline: 0px;
    border-width: 0px;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    display: block;
    overflow: hidden;
    cursor: url('cur.ico'), auto;
    z-index: 5000000;
    text-align: left;
   
}

.leftTop {
    position: absolute;
    left: 0px;
    top: 0px;
    display: inline-block;
}
.rightTop {
    position: absolute;
    right: 0px;
    top: 0px;
    display: inline-block;
}
.leftBottom {
    position: absolute;
    left: 0px;
    bottom: 0px;
    display: inline-block;
}
.rightBottom {
    position: absolute;
    right: 0px;
    bottom: 0px;
    display: inline-block;
}
.center {
    position: relative;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}



@-webkit-keyframes swinging {
    0% {
        transform: scale(1);
        color: #03f;
    }

    50% {
        transform: scale(1.02);
        color: #05f;
    }
    
    100% {
        transform: scale(1);
        color: #03f;
    }
}
    
@keyframes swinging {
    0% {
        transform: scale(1);
        color: #03f;
    }

    50% {
        transform: scale(1.02);
        color: #05f;
    }
    
    100% {
        transform: scale(1);
        color: #03f;
    }
}



.blinking {
    position: relative;
    width: inherit;
    height: inherit;
    -webkit-animation-name: blinking;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-iteration-count: infinite;
    animation-name: blinking;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@-webkit-keyframes blinking {
    0% {
        background-color: #03f;
    }

    50% {
        background-color: #09f;
    }
    
    100% {
        background-color: #03f;
    }
}

@keyframes blinking {
    0% {
        background-color: #03f;
    }

    50% {
        background-color: #09f;
    }
    
    100% {
        background-color: #03f;
    }
}
.gandalf
{
 max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
}


.disco {
    position: relative;
    width: inherit;
    height: inherit;
    -webkit-animation-name: disco;
    -webkit-animation-duration: 2.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-iteration-count: infinite;
    animation-name: disco;
    animation-duration: 2.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
    
@-webkit-keyframes disco {
    0% {
        background-color: #f00;
    }
    5% {
        background-color: #000;
    }
    10% {
        background-color: #0f0;
    }
    15% {
        background-color: #000;
    }
    20% {
        background-color: #f90;
    }
    25% {
        background-color: #000;
    }
    30% {
        background-color: #00f;
    }
    35% {
        background-color: #000;
    }
    40% {
        background-color: #93f;
    }
    45% {
        background-color: #000;
    }
    50% {
        background-color: #ff0;
    }
    55% {
        background-color: #000;
    }
    60% {
        background-color: #6f6;
    }
    65% {
        background-color: #000;
    }
    70% {
        background-color: #0ff;
    }
    75% {
        background-color: #000;
    }
    80% {
        background-color: #fcc;
    }
    85% {
        background-color: #000;
    }
    90% {
        background-color: #ccc;
    }
    95% {
        background-color: #000;
    }
    100% {
        background-color: #f00;
    }
}

@keyframes disco {
    0% {
        background-color: #f00;
    }
    5% {
        background-color: #000;
    }
    10% {
        background-color: #0f0;
    }
    15% {
        background-color: #000;
    }
    20% {
        background-color: #f90;
    }
    25% {
        background-color: #000;
    }
    30% {
        background-color: #00f;
    }
    35% {
        background-color: #000;
    }
    40% {
        background-color: #93f;
    }
    45% {
        background-color: #000;
    }
    50% {
        background-color: #ff0;
    }
    55% {
        background-color: #000;
    }
    60% {
        background-color: #6f6;
    }
    65% {
        background-color: #000;
    }
    70% {
        background-color: #0ff;
    }
    75% {
        background-color: #000;
    }
    80% {
        background-color: #fcc;
    }
    85% {
        background-color: #000;
    }
    90% {
        background-color: #ccc;
    }
    95% {
        background-color: #000;
    }
    100% {
        background-color: #f00;
    }
}



div.block {
   position: relative;
   width: 970px;
   background-color: #ddd;
   border-radius: 5px;
   height: 400px;
   display: inline-block;
   z-index: 0;
   font-size: 14px;
}

div.end {
    position: relative;
    display: inline-block;
    z-index: 0;
    font-size: 14px;
}